.drive-container{
    display: flex;
    background-color: rgba(9, 106, 144, 0.553);
    justify-content: center;
    width: 100%;
    height: 100%;
}
.drive-inner-container{
    display: flex;
    width: 90%;
    flex-direction: column;
}

.files-container,.folders-container{
    display: flex;
    flex-direction: row;

    /* border-style: solid; */
    /* background-color: rgb(117, 169, 237); */
}

.files-inner-container, .folders-inner-container{
    display:flex;
    /* width: 90%;
    height: 90%; */
}

.file-conteiner{
    /* width: 100px;
    height:50px; */
    border-style: solid;
    margin: 10px;
    background-color:white;
    border-radius: 25px;
}
.folder-conteiner{
    /* width: 100px;
    height:50px; */
    border-style: solid;
    margin: 10px;
    background-color: yellow;
    border-radius: 25px;
}